*{
    /* background-color: green; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: hotpink;
}

h2{
    color: red;
}

.one > h1, 
.one > h2,
.one > h3,
.one > h4{
    color: yellow;
}


#Two > h2{
    color: darkgray;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
}

p{
    background-image: url(./Assets/Spider-man.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 200px;
    height: 200px;
    background-color: aqua;
    /* padding-left: 20px;
    padding-top: 30px; */
    padding: 40px 50px 60px 70px;
    border: 5px solid black;
    /* border-top: 4px solid red; */
    /* margin-top: 50px;
    margin-left: 200px; */
    /* margin: 30px 40px 60px 70px; */
}

.box1{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 3;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 1;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 2;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: grey;
}

.box6{
    width: 200px;
    height: 100px;
    background-color: darkcyan;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: darkgrey;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: coral;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: crimson;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: hotpink;
}

.Container{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* height: 500px; */
    /* gap: 10px; */
    /* border: 2px solid black; */
    /* align-content: space-evenly; */
    /* align-items: end; */
    /* justify-content: space-between; */
}