*{
    /* background-color: green; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: hotpink;
}

h2{
    color: red;
}

.one > h1, 
.one > h2,
.one > h3,
.one > h4{
    color: yellow;
}


#Two > h2{
    color: darkgray;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
}

p{
    background-image: url(./Assets/Spider-man.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 200px;
    height: 200px;
    background-color: aqua;
    /* padding-left: 20px;
    padding-top: 30px; */
    padding: 40px 50px 60px 70px;
    border: 5px solid black;
    /* border-top: 4px solid red; */
    /* margin-top: 50px;
    margin-left: 200px; */
    /* margin: 30px 40px 60px 70px; */
}