*{
    /* background-color: aqua; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* h1{
    color: hotpink;
} */

/* h2{
    color: red;
} */

.one > h1, 
.one > h2,
.one > h3,
.one > h4{
    color: yellow;
}


#Two > h2{
    color: darkgray;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
}

/* p{
    background-image: url(./Assets/Spider-man.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

/* .container{ */
    /* width: 200px; */
    /* height: 200px; */
    /* background-color: aqua; */
    /* padding-left: 20px;
    padding-top: 30px; */
    /* padding: 40px 50px 60px 70px; */
    /* border: 5px solid black; */
    /* border-top: 4px solid red; */
    /* margin-top: 50px;
    margin-left: 200px; */
    /* margin: 30px 40px 60px 70px; */
/* } */

.box1{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 3;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 1;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 2;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: grey;
}

.box6{
    width: 200px;
    height: 100px;
    background-color: darkcyan;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: darkgrey;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: coral;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: crimson;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: hotpink;
}

.Container{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* height: 500px; */
    /* gap: 10px; */
    /* border: 2px solid black; */
    /* align-content: space-evenly; */
    /* align-items: end; */
    /* justify-content: space-between; */
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-top: 50px;
    position: relative;
    /* top: 0; */
    /* left: 20px; */
    /* top: 50px; */
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    /* left: 20px; */
    top: 20px;
}

.para{
    background-color: red;
    padding: 20px;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
}

.item{
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.items1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.items2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    background-color: coral;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h h h"
    "sb1 m m m sb2"
    "f f f f f";
}

.header{
    grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}

.main{
    grid-area: m;
}

.sidebar2{
    grid-area: sb2;
}

.footer{
    grid-area: f;
}

.square{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 5s;
    transition-timing-function: linear;
    /* transition-delay: 5s; */
}

.square:hover{
    width: 600px;
    background-color: red;
    transform: translateY(20px);
}

.square2{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border-radius: 50%;
    animation-name: Circle;
    animation-duration: 5s;
    /* animation-fill-mode: forwards; */
    /* animation-iteration-count: infinite; */
}


@keyframes Circle {
    50%{
        background-color: yellow;
        width: 200px;
        height: 200px;
    } 

    100%{
        background-color: blue;
        width: 300px;
        height: 300px;
    }
}